@charset "UTF-8";

html {
    background-color: skyblue;
    font-family: Montserrat, verdana, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

body {
    margin: 0;
    background-color: bisque;
    color: black;
    max-width: 1250px;
}

a {
    color: orange;
}

h1, h2 {
    font-family: 'Fugaz One', Impact, Haettenschweiler, sans-serif;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-around;
}

/* Main Section */
main {

}

#story {
    max-width: 100%;
    min-height: 400px;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#pastProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project img {
    width: 200px;
    height: auto;
}

.project span {
    min-width: 250px;
    font-weight: bold;
}

#professions {
    background-image: url('../img/banner-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.job {
    flex-basis: 280px;
}

.job img {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Footer Section */
footer {

}

#contact {

}

#copyright {

}